@import url("https://fonts.googleapis.com/css?family=Inter:700|Poppins:400");
@import "tailwindcss";

:root {
  --text-color: #191f0a;
  --background-color: #fbfdf7;
  --primary-color: #a2c549;
  --secondary-color: #a9d0af;
  --accent-color: #87b319;
}

.dark {
  --text-color: #eff5e0;
  --background-color: #060802;
  --primary-color: #93b63a;
  --secondary-color: #2f5635;
  --accent-color: #bae64c;
}

@theme {
  --color-text: var(--text-color);
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

html {
  font-size: 100%; /* 16px */
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif;
}

button:hover {
  opacity: 0.9;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Poppins", Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}
